<a href="/meetings/new">Create new meeting</a>

<h1><a href="/meetings">All meetings</a></h1>

<div ng-app="app">
  <div ng-controller="meetingsCtrl" ng-init="setUp()">

    <label>Search by name:</label>
    <input ng-model="nameFilter" list="names">
    <datalist id="names">
      <option ng-repeat="meeting in meetings">{{ meeting.name }}</option>
    </datalist>

    <div>
      <button ng-click="changeOrderAttribute('start_time')">Sort by date</button>
      <p>orderAttribute: {{orderAttribute}}</p>
      <p>orderDescending: {{orderDescending}}</p>
    </div>

    <div ng-repeat="meeting in meetings | filter: {name: nameFilter} | orderBy: orderAttribute:orderDescending">
      <h3><a href="/meetings/{{ meeting.id }}">{{ meeting.name }}<a></h3>
      <p>
        Tags:
        <a ng-repeat="tag in meeting.tags" href="/meetings?tag={{ tag.name }}">{{ tag.name }}</a>
      </p>
      <p>Address: {{ meeting.address }}</p>
      <p>Start time: {{ meeting.start_time }} </p>
      <p>End time: {{ meeting.end_time }}</p>
    </div>
  </div>
</div>
